* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: gray;
}
body {
  display: flex;
  flex-direction: column;
}
.navbar {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
main {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.navbar > button {
  width: 15%;
  height: 30%;
  color: red;
  border: 1px solid red;
}
h1 {
  color: rgb(2, 34, 175);
  height: fit-content;
  display: flex;
  align-items: center;
}
.popup {
  height: fit-content;
  width: fit-content;
  background-color: white;
  padding: 5% 5%;
  z-index: 1;
  display: none;
}
.close {
  float: right;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}
.popup > p {
  font-size: 25px;
  background-color: white;
}
.popup > input {
  width: 80%;
  height: 50%;
  background-color: white;
}
.Send__Button {
  margin-top: 3%;
  margin-left: 35%;
  background-color: red;
}
.textarea {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sort__button {
  width: 10%;
  height: 25%;
}
.buttons__place {
  height: 15%;
  width: auto;
  display: flex;
  justify-content: center;
}
.text__area__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 0;
}
.popup__container {
  /* display: flex;
  justify-content: center; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  z-index: 99999;
}
